*{
    margin: 0px;
    padding: 0px;
}
.barra_menu{
    background-color: gray;
    height:40px;
}
.barra_menu #items{
    display: flex;
    font-size: 20px;
    text-decoration: none;
    justify-content: center;
}
#items a{
    text-decoration: none;
    padding-top: 10px;
    margin-left: 10%;
    color: white;
}
.carousel-inner{
    height:700px;
}